h1, h2 {
    font-family: 'Raleway', sans-serif;
}
:root {
    --primary-c: #2196F3;
    --secondary-c: #B2D7F5;

    --white: #FDFBFB;

    --text: #082943;
    --bg: var(--primary-c);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
}

.login-form{
    width: 360px;
    background: #f1f1f1;
    height: 580px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.login-form h1{
    text-align: center;
    margin-bottom: 60px;
}

.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.txtb span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.txtb span::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    transition: .5s;
}

.focus + span::before{
    top: -5px;
}
.focus + span::after{
    width: 100%;
}

.logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.logbtn:hover{
    background-position: right;
}

.bottom-text{
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
}
ul {
    list-style-type: none;
    padding-left: 50px;
    margin: 0;
}

li {
    display: block;
    position: relative;
    padding: 20px 0px;
}

h2 {
    margin: 10px 0;
    font-weight: 900;
}


.card {
    display: flex;
    flex-direction: column;
    background: var(--white);
    width: 300px;
    padding: 20px 25px;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.13);
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
}

label {
    cursor: pointer;
    font-weight: 400;
}

.check {
    width: 30px; height: 30px;
    position: absolute;
    border-radius: 50%;
    transition: transform .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

input#one ~ .check {
    transform: translate(-50px, -25px);
    background: var(--secondary-c);
}
input#two ~ .check {
    transform: translate(-50px, -83px);
    background: var(--primary-c);
    box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
}

input#one:checked ~ .check { transform: translate(-50px, 33px); }

input#two:checked ~ .check { transform: translate(-50px, -25px); }


input[type="submit"] {
    margin-left: 80px;
    border:2px solid #B2D7F5;
    padding:5px 20px;
    font-size:30px;
    background:linear-gradient(#744bff, #2d8cff) center/100% 0px no-repeat;
    transition:0.5s all linear;
}
input[type="submit"]:hover {
    background-size:100% 100%;
}